openapi: 3.0.3
info:
  title: NCBI E-utilities Discovery History API
  description: The Entrez Programming Utilities (E-utilities) are a public API to the NCBI Entrez system, providing access to all Entrez databases including PubMed, PMC, Gene, Nuccore, and Protein. The E-utilities are a suite of nine server-side programs that accept a fixed URL syntax for search, link, and retrieval operations. Maintained by the National Center for Biotechnology Information (NCBI), part of the U.S. National Library of Medicine.
  version: '1.0'
  contact:
    name: NCBI Information Engineering Branch
    url: https://www.ncbi.nlm.nih.gov/home/about/contact/
    email: eutilities@ncbi.nlm.nih.gov
  license:
    name: NCBI Public Domain
    url: https://www.ncbi.nlm.nih.gov/home/about/policies/
servers:
- url: https://eutils.ncbi.nlm.nih.gov/entrez/eutils
  description: NCBI E-utilities production server
tags:
- name: History
  description: Manage server-side history sets via the Entrez History server.
paths:
  /epost.fcgi:
    post:
      tags:
      - History
      summary: Post UIDs to the Entrez History server
      description: Uploads a list of UIDs and returns a WebEnv and query_key for downstream calls.
      operationId: ePost
      parameters:
      - name: db
        in: query
        required: true
        schema:
          type: string
      - name: id
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: WebEnv and query_key for the posted set.
