openapi: 3.0.3
info:
  title: NCBI E-utilities Discovery Retrieve API
  description: The Entrez Programming Utilities (E-utilities) are a public API to the NCBI Entrez system, providing access to all Entrez databases including PubMed, PMC, Gene, Nuccore, and Protein. The E-utilities are a suite of nine server-side programs that accept a fixed URL syntax for search, link, and retrieval operations. Maintained by the National Center for Biotechnology Information (NCBI), part of the U.S. National Library of Medicine.
  version: '1.0'
  contact:
    name: NCBI Information Engineering Branch
    url: https://www.ncbi.nlm.nih.gov/home/about/contact/
    email: eutilities@ncbi.nlm.nih.gov
  license:
    name: NCBI Public Domain
    url: https://www.ncbi.nlm.nih.gov/home/about/policies/
servers:
- url: https://eutils.ncbi.nlm.nih.gov/entrez/eutils
  description: NCBI E-utilities production server
tags:
- name: Retrieve
  description: Retrieve full or summary records from Entrez databases.
paths:
  /efetch.fcgi:
    get:
      tags:
      - Retrieve
      summary: Fetch full records by UID
      description: Returns formatted data records for a list of UIDs.
      operationId: eFetch
      parameters:
      - name: db
        in: query
        required: true
        schema:
          type: string
      - name: id
        in: query
        required: true
        description: Comma-separated list of UIDs or a WebEnv/query_key reference.
        schema:
          type: string
      - name: rettype
        in: query
        description: Retrieval type (e.g. abstract, fasta, gb, medline).
        schema:
          type: string
      - name: retmode
        in: query
        description: Retrieval mode (e.g. xml, text, json, asn.1).
        schema:
          type: string
      - name: api_key
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Records returned in the requested rettype/retmode.
  /esummary.fcgi:
    get:
      tags:
      - Retrieve
      summary: Retrieve document summaries
      description: Returns document summaries for a list of input UIDs.
      operationId: eSummary
      parameters:
      - name: db
        in: query
        required: true
        schema:
          type: string
      - name: id
        in: query
        required: true
        schema:
          type: string
      - name: version
        in: query
        description: Set to '2.0' for the newer DocSum schema.
        schema:
          type: string
      - name: retmode
        in: query
        schema:
          type: string
          enum:
          - xml
          - json
      responses:
        '200':
          description: Document summaries.
